---
layout: default
title: Categories
permalink: /categories/
---
<div class="post-head"><div class="breadcrumb">$ ls ~/writeups --group-by-category</div></div>

{% for c in site.categories_order %}
  {% assign posts_in_cat = site.categories[c] %}
  {% if posts_in_cat %}
  <div class="arch-group" id="{{ c | slugify }}">
    <h2>{{ c }} <span style="color:var(--fg3);font-weight:400;font-size:13px">({{ posts_in_cat.size }})</span></h2>
    <ul>
      {% for post in posts_in_cat %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="d">{{ post.date | date: "%d %b %Y" }}</span></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endfor %}
