---
layout: default
title: Tags
permalink: /tags/
---
<div class="post-head"><div class="breadcrumb">$ ls ~/writeups --group-by-tag</div></div>

<div class="tagcloud">
  {% assign tags = site.tags | sort %}
  {% for t in tags %}
  <a href="#{{ t[0] | slugify }}">{{ t[0] }} ({{ t[1].size }})</a>
  {% endfor %}
</div>

{% for t in tags %}
<div class="arch-group" id="{{ t[0] | slugify }}">
  <h2>#{{ t[0] }}</h2>
  <ul>
    {% for post in t[1] %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="d">{{ post.date | date: "%d %b %Y" }}</span></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
